/* Add this CSS in your stylesheet */
::-webkit-scrollbar {
    width: 0.5em; /* Adjust as needed */
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent; /* Set this to the desired background color */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: transparent; /* Set this to the desired thumb color */
  }
  